model-viewer{
    width: 90%;
    height: 512px;
    margin: 0 auto;
    padding: 10;
}


.link{
    color:white;
    font-family: Sans-Serif;
    display: inline-block;
    text-decoration: none;
}

.link-image{
    height: 50vh;
    transition: transform 200ms;
    margin: 1rem;
}
a:hover{
    transform: scale(1.05);
    transition: transform 200ms;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}